@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pathway+Extreme:ital,wght@1,100&family=Poppins&family=Schibsted+Grotesk:ital@0;1&display=swap');
*{
    margin:16;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #00008B;
    color: #fff;
}

#header{
    width: 93%;
    height: 110vh;
    background-image: url(./img/bgfundo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24cm;
}

.container{
    padding: 8px 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 250px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 17%;
    font-size: 24px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h3{
    font-size: 20px;
    align-items: center;
    font-style: italic;
}

/*SOBREMIM*/

#sobre{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}

.about-col-2{
    flex-basis:60%;

}

.subtitulo{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

input[type=radio]{
    display: none;
}

.card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
}

.container1{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;

}

.coluna{
    border-radius: 20px;
}

.carro{
    height: 600px;
    width: 550px; 
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.botao{
    width: 70px;
    height: 17px;
    border: 2px solid rgb(179, 137, 224);
    border-radius: 5px;
    cursor: pointer;
    transition: .5;
}

.botao:hover{
    background-color: rgb(117, 81, 227);
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 550%;
    height: 100%;
}

.slides img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{margin-left: 0%;}
#slide2:checked ~ .s1{margin-left: -20%;}
#slide3:checked ~ .s1{margin-left: -40%;}
#slide4:checked ~ .s1{margin-left: -60%;}
#slide5:checked ~ .s1{margin-left: -80%;}